.contrast-check__yup {
  background-color: forestgreen;
}

.contrast-check__kinda {
  background-color: orange;
}

.contrast-check__nope {
  background-color: red;
}

.contrast-check {
  padding-left: 5px;
  box-shadow: 3px 3px black;
  border-radius: 5px;
}
