.color-card {
  width: 300px;
  height: 400px;
  margin: 0px 10px;
  padding: 15px;
  box-shadow: 5px 5px 10px slategray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  width: 50%;
}

.color-cards-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.color-card__button {
  width: 50%;
}

.color-labeling {
  font-size: larger;
}
